<!DOCTYPE html>
<html>
<head>
    <title>Kcell Store</title>
    <style>
        body {
            font-family: Arial;
            margin: 40px;
            background: #f5f5f5;
        }

        .card {
            background: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
        }

        button {
            background: orange;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<h1>Kcell Store</h1>

<div class="card">
    <h2>iPhone 16 Pro</h2>
    <p>Apple flagship smartphone</p>
    <p><b>699 990 ₸</b></p>

    <form action="/order-page">
        <button type="submit">
            Buy now
        </button>
    </form>
</div>

</body>
</html>